.contianer
	.row
		.eight.columns
			%dl(class="tabs contained")
				%dd=link_to "My Blogging Abroad", dashboard_my_blogging_abroad_path
				%dd=link_to "My Forum Activity", dashboard_my_forum_activity_path
				%dd=link_to "About Me", dashboard_about_me_path