<table class='twelve columns' cellspacing='0'>
  <thead>
  <tr>
    <th class="desc-and-last-post six columns"><%= t('.after study abroad') %></th>
    <th class="topics-count two columns"><%= t('.topics') %></th>
    <th class="posts-count two columns"><%= t('.posts') %></th>
    
  </tr>
  </thead>
</table>
