<table class='twelve columns' cellspacing='0'>
  <thead>
  <tr>
    <th class="desc-and-last-post four columns"><%= t('.study and travel abroad') %></th>
    <th class="topics-count four columns"><%= t('.country') %></th>
    <th class="topics-count three columns"><%= t('.topics') %></th>
    <th class="posts-count one columns"><%= t('.posts') %></th>
    
  </tr>
  </thead>
</table>
