.container
	.row
		.twelve.columns
			.signupModal.reveal-modal
				%h4 Sign Up
				= semantic_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :validate => true) do |f|
					=f.inputs do
						=f.input :email, :label => "Email"
						=f.input :password, :label => "Password"
					=f.buttons do
						=f.commit_button :button_html => {:class => "primary nice"}, :label => "Join Now"
				.close-reveal-modal
					&#215
