!!!
%html
    %head
        %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %body
        Hello #{@username}, 
        %br
        %p= @message
        %p
            Thank you for using 
            = link_to "StudyAbroader", "http://studyabroader.com"

