.container
	.row
		.twelve.columns
			.signinModal.reveal-modal
				%h4 Login
				=semantic_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
					=f.inputs do
						=f.input :email
						=f.input :password, :label => "Password"
					=f.buttons do
						=f.commit_button :button_html => {:class => "primary nice"}, :label => "Login"
				= render :partial => "devise/shared/links"
				.close-reveal-modal
					&#215