.container
	.row
		.two.columns
			=render "left_navigation"
		.ten.columns.destination_tabs
			.contianer
				.row
					.ten.columns
						%h3 Featured Destination
						%hr
						-if @preferred.blank?
							%h5 No Featured destinations currently
						-else
							#featured
								-unless @preferred_one.blank?
									-@preferred_one.destination_photos.limit(1).each do |photo|
										=image_tag(photo.picture.thumb_large.url, :alt =>"html captions", :"data-caption" => "#htmlCaption1")
								-unless @preferred_two.blank?
									-@preferred_two.destination_photos.limit(1).each do |photo|
										=image_tag(photo.picture.thumb_large.url, :alt =>"html captions", :"data-caption" => "#htmlCaption2")
								-unless @preferred_three.blank?
									-@preferred_three.destination_photos.limit(1).each do |photo|
										=image_tag(photo.picture.thumb_large.url, :alt =>"html captions", :"data-caption" => "#htmlCaption3")

.orbit-caption#htmlCaption1
-unless @preferred_one.blank?
	-@preferred_one.destination_photos.limit(1).each do |photo|
		%li
			=photo.description
			=link_to "Know More", photos_destination_path(@preferred_one)

.orbit-caption#htmlCaption2
-unless @preferred_two.blank?
	-@preferred_two.destination_photos.limit(1).each do |photo|
		%li
			=photo.description
			=link_to "Know More", photos_destination_path(@preferred_two)

.orbit-caption#htmlCaption3
-unless @preferred_three.blank?
	-@preferred_three.destination_photos.limit(1).each do |photo|
		%li
			=photo.description
			=link_to "Know More", photos_destination_path(@preferred_three)
	
