.nav-bar{
	margin: 0px;
	padding: 0px;	
}

.row .three.columns{
  width: 100px;
}

.nav-bar li{
	display: inline;
	list-style: none;
	height: 30px;
	float: left;
}

.nav-bar li a{
	
}

.signup{
	width: 100px;
}