.container
	.row.footer	
		.twelve.columns.links-footer
			%ul(class="block-grid")
				%li=link_to "Home |", root_url, :class => "nice foot"
				%li=link_to "About |", about_path, :class => "nice foot"
				%li=link_to "Study Abroad Destinations |", destinations_path, :class => "nice foot"
				%li=link_to "Forums |", forums_path, :class => "nice foot"
				%li=link_to "Study Abroad Scholarships & Contests |", scholarships_and_contests_path, :class => "nice foot"
				%li=link_to "Blog |", blogs_path, :class => "nice foot"
				%li=link_to "Privacy Policy |", privacy_policy_path, :class => "nice foot"
				%li=link_to "Terms & Conditions |", terms_and_conditions_path, :class => "nice foot"
				%li=link_to "Program Providers", program_providers_path, :class => "nice foot"
	.row.footer
		.twelve.columns
			&copy;2011 studyabroader.com All Rights Reserved